alembic
anyio
bcrypt==4.0.1
certifi
cffi
click
colorama
cryptography
dnspython
ecdsa
email-validator
exceptiongroup
fastapi
greenlet
h11
httpcore
httptools
httpx
idna
itsdangerous
Jinja2
Mako
MarkupSafe
orjson
passlib==1.7.4
psycopg2-binary
pyasn1
pycparser
pydantic
python-dotenv
python-jose
python-multipart
PyYAML
rsa
six
sniffio
SQLAlchemy
starlette
typing_extensions
ujson
uvicorn
watchfiles
websockets
zipp>=3.19.1 # not directly required, pinned by Snyk to avoid a vulnerability
